.list-style {
  list-style: none;
  color: #7b8794;
  text-decoration: underline;
}
.active-tab {
  border-bottom: 2px solid #2563eb;
  color: #1e293b;
}

button {
  font-size: 20px;
  border: 0;
  outline: none;
  color: #7b8794;
  background-color: transparent;
}
